video, input {
    display: block;
}


input {
    width: 100%;    
}

.info {
     visibility: hidden;    
}

.error {
    background-color: red;
    color: white;
}

.container{
    width: 100%;
     position: relative;
}
.subtitle{
   position:absolute;
  	color: rgb(255, 255, 255);
  	padding: 5px 10px;
  	text-align: center;
  	background: rgba(0, 0, 0, 0.4);
    bottom: 60px;
    word-wrap: break-word;
  	font-size: 14px;
  	font-weight: 400;
      z-index: 2147483647 !important;

   
    width: 60%;
}

